parameters:
  sqlite_database_path: var/data/hat.sqlite # Relative path from project root.

  configuration:
    cron: true # Enable or disable cron jobs. Command hat:cron:execute has to be manually added to crontab.
    ups_mode: true|false # When enabled cron schedule wont be executed if any UPS is on battery and devices will be shut down when battery is low.
    ssh_key_path: # Path to SSH key
    default_ssh_username: # Default SSH username for devices
    timezone: # Timezone for the server
