parameters:
  configuration:
    cron: true # Enable or disable cron jobs. Command hat:cron:execute has to be manually added to crontab.
    ups_mode: true|false # When enabled cron schedule wont be executed if any UPS is on battery and devices will be shut down when battery is low.
    ssh_key_path: # Path to SSH key
    default_ssh_username: # Default SSH username for devices
    timezone: # Timezone for the server

  devices:
    # device_name: Unique of the device
    # ip: IP address of the device
    # mac: MAC address of the device
    # platform: linux|debian|ubuntu|proxmox_ve|proxmox_bs
    # [optional] ups_identifier: Identifier of the UPS to which the device is connected
    # [optional] username: SSH username for the device if empty `default_ssh_username` will be used
    - { name: device_name, ip: 192.168.1.1, mac: 00:00:00:00:00:00, platform: linux, ups_identifier: ups, ups_runtime_low: 600,  username: user }

  ups:
    # name: Unique name of the UPS
    # identifier: Name of UPS defined in NUT
    # host: IP address of the UPS
    # [optional] safe_battery_runtime_threshold: Minimum runtime in seconds before devices are start
    - { name: ups_name, identifier: ups, host: localhost, safe_battery_runtime_threshold: 600 }

  schedules:
    # name: Name of the schedule
    # schedule: Cron schedule
    # command: Command to execute
    # devices: List of devices to execute the command on
    - { name: Start Devices, schedule: '0 0 * * *', command: start, devices: [ device_name ] }
    - { name: Stop Devices, schedule: '0 3 * * *', command: stop, devices: [ device_name ] }
